<header class="header">

    <a href="#" class="logo">Me</a>

   <div class="menu-toggle">
            <i class='bx bx-menu'></i>
        </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/projects"> Projects </a></li>
            <li><a href="/blog"> Blog </a></li>
            <li><a href="/about"> About </a></li>
            <li id="login"><a href="/login"> Login </a></li>
        </ul>

    </nav>

</header>
