<div id="main">
    <div>
       <div id="mid_section">
			<div class="work_exp">
				<h1>Work Experience</h1>
				<div class="job">
					<h3>Prysmian Group: Customer Order - Customer Service</h3>
					<p class="job_info">Prysmian Group</p>
					<p class="job_info">Nässjö, Sweden</p>
					<p class="job_info">January 2023 - March 2023 (3 months)</p>
					<ul class="job_desc">
						<li>Managed all projects and orders for one of the largest customers.</li>
						<li>Handled order acknowledgment and invoices according to agreements and price lists.</li>
						<li>Considered production delays and inventory conditions during order processing.</li>
						<li>Collaborated closely with cross-functional teams to ensure customer satisfaction.</li>
					</ul>
				</div>
			
				<div class="job">
					<h3>Lokalvård - Tidaholm Kommun</h3>
					<p class="job_info">Tidaholm Kommun</p>
					<p class="job_info">Tidaholm, Sweden</p>
					<p class="job_info">2016</p>
					<ul class="job_desc">
						<li>Performed thorough cleaning of workplaces to maintain a hygienic and tidy environment.</li>
						<li>Organized shelves and storage areas to maximize efficiency and accessibility of items.</li>
						<li>Assisted in outdoor tasks, including blowing leaves and maintaining outdoor spaces.</li>
					</ul>
				</div>
			</div>
		</div>

		<aside>
			<div class="education">
				<h1 class="headline">Education</h1>
				<ul class="edu">
				  <li><strong>2013-2018: </strong> Hökensåsskolan - Tidaholm</li>
				  <li><strong>2018-2019: </strong> Brinellskolan – Nässjö</li>
				  <li><strong>2019-2022: </strong> Brinellgymnasiet: Teknikprogrammet – IT och media</li>
				  <li><strong>2020-2022: </strong> PrimalOx UF - UF Företagets VD</li>
				  <li><strong>2022: </strong> Cisco Networking Academy - IT Essentials Course</li>
				  <li><strong>2022-Present: </strong> Datateknik - Mjukvaruutveckling och mobila plattformar</li>
				</ul>
			  </div>

    </div>
</div>
