<div id="about-main">
		<div class="about-container">
			<main class="about-row">
				<!-- Educations section starts -->
				<section class="about-col">
					<header class="about-title">
						<h2>Education</h2>
					</header>
					<div class="about-contents">
						<div class="about-box">
							<h4>2022-Present</h4>
							<h3>Datateknik - Mjukvaruutveckling och mobila plattformar</h3>
						</div>
						<div class="about-box">
							<h4>2022</h4>
							<h3>Cisco Networking Academy - IT Essentials Course</h3>
						</div>
						<div class="about-box">
							<h4>2020-2022</h4>
							<h3>PrimalOx UF - UF Företagets VD</h3>
						</div>
						<div class="about-box">
							<h4>2019-2022</h4>
							<h3>Brinellgymnasiet: Teknikprogrammet – IT och media</h3>
						</div>
					</div>
				</section>

				<!-- Educations section ends -->

				<!-- Experience section starts -->

				<section class="about-col">
					<header class="about-title">
						<h2>Work Experience</h2>
					</header>
					<div class="about-contents">
						<div class="about-box">
							<h4 class="job_info">January 2023 - March 2023 (3 months)</h4>
							<h3>Prysmian Group: Customer Order - Customer Service</h3>
							<p class="job_info">Prysmian Group</p>
							<p class="job_info">Nässjö, Sweden</p>

							<ul class="job_desc">
								<li>Managed all projects and orders for one of the largest customers.</li>
								<li>Handled order acknowledgment and invoices according to agreements and price lists.
								</li>
								<li>Considered production delays and inventory conditions during order processing.</li>
								<li>Collaborated closely with cross-functional teams to ensure customer satisfaction.
								</li>
							</ul>

						</div>
						<div class="about-box">
							<h4 class="job_info">2016</h4>
							<h3>Lokalvård - Tidaholm Kommun</h3>
							<p class="job_info">Tidaholm Kommun</p>
							<p class="job_info">Tidaholm, Sweden</p>

							<ul class="job_desc">
								<li>Performed thorough cleaning of workplaces to maintain a hygienic and tidy
									environment.</li>
								<li>Organized shelves and storage areas to maximize efficiency and accessibility of
									items.</li>
								<li>Assisted in outdoor tasks, including blowing leaves and maintaining outdoor spaces.
								</li>
							</ul>
						</div>

					</div>
				</section>

				<!-- Experience section ends -->
			</main>

		</div>
</div>