<!-- blogdetail.handlebars -->

<div class="blog-detail">
    <h1>{{title}}</h1>
    <p><strong>Author:</strong> {{author}}</p>
    <p><strong>Tags:</strong> {{tags}}</p>
    <div class="content">{{{content}}}</div>
    <a href="/blog" class="back-link">Back to Blogs</a>
</div>
