<section class="home" id="home">

    <div class="home-img">
        <div class="img-containor">
            <img class="me-img" src="img/me2.png" alt="me">
        </div>

    </div>
    <div class="home-content">
        <h3> <span class="multiple-texts"></span>("hello world")</h3>
        <h1>I'm Ahsan Javed </h1>
        <h3>A Software Engineering Student </h3>
        <p>With a wide range of interests, including CAD and various other engineering principles, but true passion lies
            in software engineering. </p>
        <div class="social-media">

            <a href="https://www.instagram.com/bosse_ahsan/"><i class="bx bxl-instagram-alt"></i></a>
            <a href="www.linkedin.com/in/ahsan-javed-5a6656207"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/aromapex"><i class="bx bxl-github"></i></a>
        </div>
        <a href="mailto:ahsanjaved.jaah@gmail.com" class="btn">Hire Me</a>
    </div>
</section>