:root {
    --text-color: rgb(255, 255, 255);
    --primary-color: #007bff;
    --secondary-color:  #FCF6F5;
    --hover-line: rgb(255, 59, 52);
    --background-color: #2c2a35;
    --lighter-background-color: #49495d;
  }

@media (max-width: 768px) {
    .logo {
        margin-left: 5%;;
    }
    
    .header{
        padding: 0;
    }
    .menu-toggle {
        display: flex;
    }
    nav-bar {
        background-color: var(--background-color);
    }
    .nav-bar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        background-color: var(--background-color);
    }
    .nav-bar ul.active {
        display: flex;
    }
    .nav-bar ul li {
        margin: 10px 0;
    }
    .menu-toggle {
        display: flex;
        z-index: 10;
        position: relative;
    }
}

@media (max-width: 768px) { 

    main.about-row {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .blogs-container {
      flex-direction: column; /* Stack cards vertically on smaller screens */
    }
  
    .blog-box {
      max-width: 100%; /* Full width for cards on smaller screens */
      margin-bottom: 20px; /* Add spacing between stacked cards */
    }
  }