@media (max-width: 768px) {
    .logo {
        margin-left: 5%;;
    }
    
    .header{
        padding: 0;
    }
    .menu-toggle {
        display: flex;
    }
    nav-bar {
        background-color: white;
    }
    .nav-bar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
    }
    .nav-bar ul.active {
        display: flex;
    }
    .nav-bar ul li {
        margin: 10px 0;
    }
    .menu-toggle {
        display: flex;
    }
}

@media (max-width: 768px) { 

    main.about-row {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .blogs-container {
      flex-direction: column; /* Stack cards vertically on smaller screens */
    }
  
    .blog-box {
      max-width: 100%; /* Full width for cards on smaller screens */
      margin-bottom: 20px; /* Add spacing between stacked cards */
    }
  }