@media (max-width: 768px) {
    .logo {
        margin-left: 5%;;
    }
    
    .header{
        padding: 0;
    }
    .menu-toggle {
        display: flex;
    }
    nav-bar {
        background-color: white;
    }
    .nav-bar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
    }
    .nav-bar ul.active {
        display: flex;
    }
    .nav-bar ul li {
        margin: 10px 0;
    }
}